USE [master]
GO
/****** Object:  Database [QuanLyLinhKien]    Script Date: 01/07/2021 00:54:43 ******/
CREATE DATABASE [QuanLyLinhKien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyLinhKien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyLinhKien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyLinhKien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyLinhKien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyLinhKien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyLinhKien]
GO
/****** Object:  Table [dbo].[CTHoaDon]    Script Date: 01/07/2021 00:54:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDon](
	[soLuong] [int] NULL,
	[donGia] [bigint] NULL,
	[maLK] [int] NOT NULL,
	[maHD] [int] NOT NULL,
 CONSTRAINT [SuaCT] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maLK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 01/07/2021 00:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[maDiaChi] [int] IDENTITY(1,1) NOT NULL,
	[soNha] [nvarchar](150) NULL,
	[tenDuong] [nvarchar](150) NULL,
	[phuongXa] [nvarchar](100) NULL,
	[quanHuyen] [nvarchar](100) NULL,
	[tinhTP] [nvarchar](50) NULL,
	[quocGia] [nvarchar](50) NULL,
 CONSTRAINT [PK__DiaChi__0A7DF620DDD8CCD6] PRIMARY KEY CLUSTERED 
(
	[maDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 01/07/2021 00:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [int] IDENTITY(1,1) NOT NULL,
	[ngayLap] [date] NULL,
	[tongTien] [bigint] NULL,
	[maNV] [int] NOT NULL,
	[maKH] [int] NOT NULL,
 CONSTRAINT [PK__HoaDon__7A3E1486086455B8] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 01/07/2021 00:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [int] IDENTITY(1,1) NOT NULL,
	[tenKH] [nvarchar](60) NOT NULL,
	[sdt] [nvarchar](15) NULL,
	[diaChi] [int] NOT NULL,
	[phai] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[namSinh] [char](4) NULL,
 CONSTRAINT [PK__KhachHan__7A3ECFE40338D9A0] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinhKien]    Script Date: 01/07/2021 00:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhKien](
	[maLK] [int] IDENTITY(1,1) NOT NULL,
	[tenLK] [nvarchar](120) NOT NULL,
	[soLuong] [int] NULL,
	[giaNhap] [bigint] NULL,
	[donViTinh] [nvarchar](30) NULL,
	[baoHanh] [nvarchar](40) NULL,
	[ngayNhap] [date] NULL,
	[thuongHieu] [nvarchar](60) NULL,
	[nuocSX] [nvarchar](60) NULL,
	[thongsoKT] [nvarchar](300) NULL,
	[mauSac] [nvarchar](50) NULL,
	[hinhAnh] [image] NULL,
	[tinhTrang] [nvarchar](30) NULL,
	[maNCC] [int] NOT NULL,
	[maLoai] [int] NOT NULL,
 CONSTRAINT [PK__LinhKien__7A3EB7002C552E67] PRIMARY KEY CLUSTERED 
(
	[maLK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaiLK]    Script Date: 01/07/2021 00:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaiLK](
	[maLoai] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 01/07/2021 00:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNCC] [int] IDENTITY(1,1) NOT NULL,
	[tenNCC] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[diaChi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 01/07/2021 00:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [int] IDENTITY(1,1) NOT NULL,
	[tenNV] [nvarchar](50) NOT NULL,
	[diaChi] [int] NOT NULL,
	[namSinh] [nchar](4) NULL,
	[phai] [nchar](4) NULL,
	[CMND] [nvarchar](15) NULL,
	[chucVu] [nvarchar](30) NULL,
	[taiKhoan] [varchar](20) NOT NULL,
 CONSTRAINT [PK__NhanVien__7A3EC7D567A879F6] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 01/07/2021 00:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tentaiKhoan] [varchar](20) NOT NULL,
	[matKhau] [char](20) NOT NULL,
	[loaiTK] [nvarchar](50) NULL,
 CONSTRAINT [PK__TaiKhoan__097E6978D18ED73E] PRIMARY KEY CLUSTERED 
(
	[tentaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHoaDon] ([soLuong], [donGia], [maLK], [maHD]) VALUES (1, 1590000, 3, 1)
INSERT [dbo].[CTHoaDon] ([soLuong], [donGia], [maLK], [maHD]) VALUES (3, 2200000, 4, 1)
INSERT [dbo].[CTHoaDon] ([soLuong], [donGia], [maLK], [maHD]) VALUES (1, 2150000, 4, 2)
GO
SET IDENTITY_INSERT [dbo].[DiaChi] ON 

INSERT [dbo].[DiaChi] ([maDiaChi], [soNha], [tenDuong], [phuongXa], [quanHuyen], [tinhTP], [quocGia]) VALUES (5, N'05 ', N'Nguyễn Thái Sơn', N'Phường 5', N'Gò Vấp', N'TP Hồ Chí Minh', N'Việt Nam')
INSERT [dbo].[DiaChi] ([maDiaChi], [soNha], [tenDuong], [phuongXa], [quanHuyen], [tinhTP], [quocGia]) VALUES (6, N'442 ', N'Nguyễn Thái Sơn', N'Phường 5', N'Gò Vấp', N'TP Hồ Chí Minh', N'Việt Nam')
INSERT [dbo].[DiaChi] ([maDiaChi], [soNha], [tenDuong], [phuongXa], [quanHuyen], [tinhTP], [quocGia]) VALUES (7, N'110 ', N'Nguyễn Văn Nghi', N'Phường 5', N'Gò Vấp', N'TP Hồ Chí Minh', N'Việt Nam')
SET IDENTITY_INSERT [dbo].[DiaChi] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [tongTien], [maNV], [maKH]) VALUES (1, CAST(N'2020-11-11' AS Date), 8190000, 6, 1)
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [tongTien], [maNV], [maKH]) VALUES (2, CAST(N'2020-11-23' AS Date), 2150000, 7, 2)
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [tongTien], [maNV], [maKH]) VALUES (6, CAST(N'2020-12-02' AS Date), 3349500, 5, 5)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([maKH], [tenKH], [sdt], [diaChi], [phai], [email], [namSinh]) VALUES (1, N'Tô Thị Hồng Thắm', N'0935132656', 8, N'Nữ', N'HongTham@gmail.com', N'1999')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [sdt], [diaChi], [phai], [email], [namSinh]) VALUES (2, N'Đinh Thị hà Phương', N'0381629113', 13, N'Nữ', N'phuong@gmail.com', N'2000')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [sdt], [diaChi], [phai], [email], [namSinh]) VALUES (5, N'Mai Minh Thư', N'0291129832', 26, N'Nữ', N'', N'2000')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LinhKien] ON 

SET IDENTITY_INSERT [dbo].[LinhKien] OFF
GO
SET IDENTITY_INSERT [dbo].[loaiLK] ON 

INSERT [dbo].[loaiLK] ([maLoai], [tenLoai]) VALUES (1, N'Ổ Cứng')
INSERT [dbo].[loaiLK] ([maLoai], [tenLoai]) VALUES (3, N'Ram')
INSERT [dbo].[loaiLK] ([maLoai], [tenLoai]) VALUES (15, N'Card màn hình')
SET IDENTITY_INSERT [dbo].[loaiLK] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [email], [diaChi]) VALUES (1, N'Intel', N'intel@gmail.com', 9)
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [email], [diaChi]) VALUES (2, N'Gigabyte', N'Gigabyte@gmail.com', 10)
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [email], [diaChi]) VALUES (3, N'ASUS', N'ASUS@gmail.com', 11)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([maNV], [tenNV], [diaChi], [namSinh], [phai], [CMND], [chucVu], [taiKhoan]) VALUES (5, N'Nguyễn Mai Anh', 5, N'1993', N'Nữ  ', N'345689562', N'Quản lý', N'QL1')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [diaChi], [namSinh], [phai], [CMND], [chucVu], [taiKhoan]) VALUES (6, N'Nguyên Ngọc Hùng', 6, N'1989', N'Nam ', N'345689541', N'Thu Ngân', N'NV0002')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [diaChi], [namSinh], [phai], [CMND], [chucVu], [taiKhoan]) VALUES (7, N'Trần Anh Huy', 7, N'1991', N'Nam ', N'345156532', N'Thu Ngân', N'NV0001')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[TaiKhoan] ([tentaiKhoan], [matKhau], [loaiTK]) VALUES (N'ADMIN', N'ADMIN               ', N'ADMIN')
INSERT [dbo].[TaiKhoan] ([tentaiKhoan], [matKhau], [loaiTK]) VALUES (N'maituongquan', N'maituongquan        ', N'NV')
INSERT [dbo].[TaiKhoan] ([tentaiKhoan], [matKhau], [loaiTK]) VALUES (N'minnthu', N'12345678            ', N'NV')
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__CTHoaDon__maHD__4CA06362] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK__CTHoaDon__maHD__4CA06362]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__CTHoaDon__maLK__4D94879B] FOREIGN KEY([maLK])
REFERENCES [dbo].[LinhKien] ([maLK])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK__CTHoaDon__maLK__4D94879B]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__maKH__49C3F6B7] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__maKH__49C3F6B7]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__maNV__4AB81AF0] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__maNV__4AB81AF0]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK__KhachHang__namSi__46E78A0C] FOREIGN KEY([diaChi])
REFERENCES [dbo].[DiaChi] ([maDiaChi])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK__KhachHang__namSi__46E78A0C]
GO
ALTER TABLE [dbo].[LinhKien]  WITH CHECK ADD  CONSTRAINT [FK__LinhKien__maLoai__3A81B327] FOREIGN KEY([maLoai])
REFERENCES [dbo].[loaiLK] ([maLoai])
GO
ALTER TABLE [dbo].[LinhKien] CHECK CONSTRAINT [FK__LinhKien__maLoai__3A81B327]
GO
ALTER TABLE [dbo].[LinhKien]  WITH CHECK ADD  CONSTRAINT [FK__LinhKien__maNCC__398D8EEE] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[LinhKien] CHECK CONSTRAINT [FK__LinhKien__maNCC__398D8EEE]
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK__NhaCungCa__diaCh__267ABA7A] FOREIGN KEY([diaChi])
REFERENCES [dbo].[DiaChi] ([maDiaChi])
GO
ALTER TABLE [dbo].[NhaCungCap] CHECK CONSTRAINT [FK__NhaCungCa__diaCh__267ABA7A]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__diaChi__440B1D61] FOREIGN KEY([diaChi])
REFERENCES [dbo].[DiaChi] ([maDiaChi])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK__NhanVien__diaChi__440B1D61]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__taiKho__4316F928] FOREIGN KEY([taiKhoan])
REFERENCES [dbo].[TaiKhoan] ([tentaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK__NhanVien__taiKho__4316F928]
GO
USE [master]
GO
